@tailwind base;
@tailwind components;
@tailwind utilities;

/*creating a classes with the style for the card details */
.cardInfo{
  @apply flex justify-between m-2 rounded-sm bg-cardDetailsBG p-1;
}
.cardInfoIcon{
  @apply inline w-4 ml-1;
}
.cardInfoTitle{
  @apply inline ml-0.5;
}
.cardInfoDetails{
  @apply inline mr-2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDEDED;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
